<h2 class="mb-5">新刊情報登録</h2>
<div class="mark mb-3">
<p>これは管理者用の機能です</p>
<p>楽天APIから新刊をいちいち検索するのは時間がかかるので、予めここから新刊漫画のデータをDBに登録します。</p>
</div>
<%= form_with url: newlys_download_path, method: :get, local: true do |f| %>
  <div class="form-group row">
    <%= f.label :publisher_select, '出版社選択', class: "col-lg-2 pt-1" %>
    <%= f.select :publisher_select, options_for_select(publisher_name_array),{}, class: 'form-control mb-2 col-lg-10' %>
  </div>
  <div class="form-group row">
    <%= f.label :month, '月選択', class: "col-lg-2 pt-1" %>
    <% now = Time.current %>
    <%= f.select :month, options_for_select([
      now.strftime("%Y年%m月"),
      now.next_month.strftime("%Y年%m月"),
      now.since(2.month).strftime("%Y年%m月"),
      ]
    .map{|c|[c, {}]},params[:month]),{}, class: 'form-control mb-2 col-lg-10' %>
    <%= f.submit "DBに登録", class:'btn btn-success btn-block mt-4' %>
  </div>
<% end %>

<h3>ダウンロード履歴</h3>
<% if @downloads.present? %>
  <ul class="list-group mb-2" >
  <li class="list-group-item row list-group-item-success" style="width:max">
    <div class="row">
      <div class="col-lg-5">出版社名</div>
      <div class="col-lg-1">月</div>
      <div class="col-lg-2">冊数</div>
      <div class="col-lg-4">登録日</div>
    </div>
  </li>
  <% @downloads.each do |download| %>
      <li class="list-group-item row" style="width:max">
        <div class="row">
          <div class="col-lg-5"><%= download.publisherName %></div>
          <div class="col-lg-1"><%= download.month %>月</div>
          <div class="col-lg-2"><%= download.counter %>冊</div>
          <div class="col-lg-4"><%= download.created_at %></div>
        </div>
      </li>
  <% end %>
  </ul>
<% end %>
