<h2>新刊検索</h2>
<%= form_with url: newlys_path, method: :get, local: true do |f| %>
  <div class="form-group row">
    <%= f.label :publisher_select, '出版社選択', class: "col-lg-2 pt-1" %>
    <%= f.select :publisher_select, options_for_select(publisher_name_array.map{|c|[c, {}]},params[:publisher_select]),{}, class: 'form-control mb-2 col-lg-10' %>
  </div>
  <div class="form-group row">
    <%= f.label :month, '月選択', class: "col-lg-2 pt-1" %>
    <% now = Time.current %>
    <%= f.select :month, options_for_select([
      now.strftime("%Y年%m月"),
      now.next_month.strftime("%Y年%m月"),
      now.since(2.month).strftime("%Y年%m月"),
    ]
    .map{|c|[c, {}]},params[:month]),{}, class: "form-control mb-2 col-lg-10" %>
  </div>
    <%= f.submit "新刊を探す", class:'btn btn-success btn-block mt-4' %>
<% end %>
<div class="mt-4"><%= @no_results %></div>
<%= render 'books/books_list', books: @books %>
