<h2>新刊検索</h2>
<%= form_with url: newlys_path, method: :get, local: true do |f| %>
  <div class="form-group row">
    <%= f.label :publisher_select, '出版社選択', class: "col-lg-2 pt-1" %>
    <%= f.select :publisher_select, options_for_select(publisher_name_array),{}, class: 'form-control mb-2 col-lg-10' %>
  </div>
  <div class="form-group row">
    <%= f.label :month, '月選択', class: "col-lg-2 pt-1" %>
    <%= f.select :month, options_for_select({'2019年10月': '10', '2019年11月': '11', '2019年12月': '12'}),{}, class: "form-control mb-2 col-lg-10" %>
  </div>
    <%= f.submit "新刊を探す", class:'btn btn-success btn-block mt-4' %>
<% end %>
<div class="mt-4"><%= @no_results %></div>
<%= render 'books/books_list', books: @books %>
