<div class="card">
<div class="row no-gutters">
    <div class="col-md-4">
      <% if @user.image? %>
        <%= image_tag user.image.url, height: '200' %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        
          <% if @user.admin? %>
            <b>管理者ユーザー</b>
          <% end %>
          
          <div class="row">
            <span class="col-lg-3 mb-1">名前</span><span class="col-lg-7"><%= user.name %></span>
          </div>
          <div class="row">
            <span class="col-lg-3 mb-1">登録日</span><span class="col-lg-7"><%= user.created_at.strftime('%Y年%m月%d日') %></span>
          </div>
          <div class="row">
            <span class="col-lg-3 mb-1">所持登録数</span><span class="col-lg-7"><%= user.books.count %></span>
          </div>
          <div class="row">
            <span class="col-lg-3 mb-1">お気に入り登録数</span><span class="col-lg-7"><%= user.favbooks.count %></span>
          </div>
          <div class="row">
            <span class="col-lg-3 mb-1">レビュー投稿数</span><span class="col-lg-7"><%= user.reviews.count %></span>
          </div>
          <div class="row">
            <span class="col-lg-3 mb-1">プロフィール文</span><span class="col-lg-7"><%= simple_format(h(@user.profile)) %></span>
          </div>
      </div>
    </div>
  </div>
  
</div>