<h2>プロフィール編集画面</h2>
<%= form_with model: @user do |f| %>
  <%= f.label :name, '名前' %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :profile, 'プロフィール文の編集' %>
  <%= f.text_area :profile, class: 'form-control' %>
  <div class="field">
    <!-- 既に画像登録されていたら -->
    <% if @user.image? %>
      <div class="thumbnail">
        <%= image_tag @user.image.url, width: '200' %>
      </div>
    <% end %><br>
    <!-- ここまで -->
    <p>サムネイル画像を選択（上限2MB）</p>
    <%= f.label :image, style: 'display: none' %>
    <div class="input-group">
      <label class='input-group-btn'>
        <span class="btn btn-outline-dark">
          ファイルを選択
          <%= f.file_field :image, style: 'display:none' %>
        </span>
      </label>
      <input type="text" class="form-control" readonly="">
    </div>
    <script>
      $(document).on('change', ':file', function() {
      var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
      input.parent().parent().next(':text').val(label);
      });
    </script>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="field">
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <% if @user.persisted? && @user.image? %>
      <label>
        <%= f.check_box :remove_image %>画像を削除
      </label>
    <% end %>
  </div>
  <%= f.submit '更新する', class: 'btn btn-success' %>
<% end %>