<div class="mb-4"><h2><%= @user.name %>さんのページです</h2></div>

<%= render 'profile_card', user: @user %>
<% if @current_user.id == @user.id %>
<%= link_to '編集する', edit_user_path %>
<% end %>


<!--タブボタン部分-->
<ul class="nav nav-tabs mt-3">
  <li class="nav-item">
    <a class="nav-link active" href="#tab1" data-toggle="tab">登録した漫画</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#tab2" data-toggle="tab">お気に入りの漫画</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#tab3" data-toggle="tab">投稿済みのレビュー</a>
  </li>
</ul>

<!--タブコンテンツ部分-->
<div class="tab-content">

  <div id="tab1" class="tab-pane active pt-2">

    <% @subs_series.each do |comic,count| %>
      <div class="col-md-6">
        <a class="btn btn-dark btn-block text-left" data-toggle="collapse" href="#collapse<%= comic %>" role="button" aria-expanded="false" aria-controls="collapse<%= comic %>">
          <%= comic %>
        </a><br>
      </div>

      <div class="collapse" id="collapse<%= comic %>">
        <% series_books = @user.books.where(series: comic) %>
        <%= render 'books/books_card_small', books: series_books %>
      </div>
    <% end %>
    <%= paginate @subs %>
  </div>
    
  <div id="tab2" class="tab-pane pt-2">
    <%= render 'books/books_card_small', books: @favs %>
    <%= paginate @favs %>
  </div>
    
  <div id="tab3" class="tab-pane">
    <% @reviews.each do |review| %>
      <div class="card w-80 m-4">
        
        <div class="card-body">
          <h5 class="card-title"><%= link_to review.head, review_path(review.id) %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= link_to review.book.title, books_path + '/'+ review.book.isbn %></h6>
          <h6 class="card-subtitle mb-2 text-muted"><%= review.created_at %></h6>
          <p class="card-text"><%= review.content %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

