<div class="mb-4"><h2><%= @user.name %>さんのページです</h2></div>

<%= render 'profile_card', user: @user %>
<% if @current_user.id == @user.id %>
<%= link_to '編集する', edit_user_path %>
<% end %>


<!--タブボタン部分-->
<ul class="nav nav-tabs mt-3">
  <li class="nav-item">
    <a class="nav-link active text-body" href="#tab1" data-toggle="tab"><i class="fa fa-book"></i> 登録した漫画</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-body" href="#tab2" data-toggle="tab"><i class="fa fa-star"></i> お気に入りの漫画</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-body" href="#tab3" data-toggle="tab"><i class="fa fa-align-justify"></i> 投稿済みのレビュー</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-body" href="#tab4" data-toggle="tab"><i class="fa fa-heart"></i> いいねしたレビュー</a>
  </li>
</ul>

<!--タブコンテンツ部分-->
<div class="tab-content">
  <div id="tab1" class="tab-pane active pt-2">

  <% unless @user.books.empty? %>
    <div>
      <a class="btn btn-info btn-block text-left d-flex justify-content-between align-items-center" data-toggle="collapse" href="#collapsesubs" role="button" aria-expanded="false" aria-controls="collapsesubs">
        <span><i class="fa fa-book"></i> 最近登録した漫画<span class="text-black-50 text-left">（4件まで表示）</span></span>
      </a>
      <br>
    </div>
    <div class="collapse" id="collapsesubs">
      <div class="row">
      <% @recently_subs_id.each do |id| %>
        <%= render 'books/book_card_small', book: id.book %>
      <% end %>
      </div>
    </div>
  <% else %>
    <p>所持登録している漫画はありません。</p>
  <% end %>


    <div class="row">
    <% @subs_series.each do |comic,count| %>
      <div class="col-md-6">
        <% escape_comic = comic.gsub(/\.|\!/,"") %>
        <a class="btn btn-dark btn-block text-left d-flex justify-content-between align-items-center" data-toggle="collapse" href="#collapse<%= escape_comic %>" role="button" aria-expanded="false" aria-controls="collapse<%= escape_comic %>">
          
          <%= comic %><span class="badge badge-light badge-pill pull-right"><%= count %></span>
        </a>
        <br>
      </div>

      <div class="collapse col-md-12" id="collapse<%= escape_comic %>">
        <% series_books = @user.books.where(series: comic).order("salesint") %>
          <%= render 'books/books_card_small', books: series_books %>
      </div>
    <% end %>
    </div>
  </div>
    

  <div id="tab2" class="tab-pane pt-2">
  <% unless @user.favbooks.empty? %>
    <div>
      <a class="btn btn-info btn-block text-left d-flex justify-content-between align-items-center" data-toggle="collapse" href="#collapsesubs" role="button" aria-expanded="false" aria-controls="collapsesubs">
        <span><i class="fa fa-star"></i> 最近お気に入り登録した漫画<span class="text-black-50 text-left">（4件まで表示）</span></span>
      </a>
      <br>
    </div>
    <div class="collapse" id="collapsesubs">
      <% recently_favs_id = @user.favorites.order("id DESC").limit(4).select("book_id") %>
      <div class="row">
        <% recently_favs_id.each do |id| %>
          <%= render 'books/book_card_small', book: id.book %>
        <% end %>
      </div>
    </div>
  <% else %>
    <p>お気に入り登録している漫画はありません。</p>
  <% end %>

<div class="row" id="favzone">
<% @favs_series.each do |comic,count| %>
  <div class="col-md-6">
  <% escape_comic = comic.sub(/\./,"") %>
    <a class="btn btn-dark btn-block text-left d-flex justify-content-between align-items-center" data-toggle="collapse" href="#collapse<%= escape_comic %>" role="button" aria-expanded="false" aria-controls="collapse<%= escape_comic %>">
      <%= comic %><span class="badge badge-light badge-pill pull-right"><%= count %></span>
    </a>
    <br>
  </div>
  <div class="collapse col-md-12" id="collapse<%= escape_comic %>">
    <% series_books = @user.favbooks.where(series: comic).order("salesint") %>
      <%= render 'books/books_card_small', books: series_books %>
  </div>
<% end %>
</div>
  </div>
    
  <div id="tab3" class="tab-pane pt-2">
    <% unless @reviews.empty? %>
      <% @reviews.each do |review| %>
        <%= render 'reviews/review_card', review: review %>
      <% end %>
    <% else %>
      <p>まだレビューを書いていません。</p>
    <% end %>
  </div>

  <div id="tab4" class="tab-pane pt-2">
    <% unless @user.favreviews.empty? %>
    <% favreviews = @user.favreviews.page(params[:page]).per(10) %>
      <% favreviews.each do |review| %>
        <%= render 'reviews/review_card', review: review %>
      <% end %>
      <%= paginate favreviews %>
      <% else %>
      <p>いいねしたレビューはありません。</p>
    <% end %>
  </div>

</div>

