<div class="mb-5">
    <%= form_tag :books, method: :get do  %>
      <%= label_tag :title, 'タイトル検索' %>
      <%= text_field_tag 'title', params[:title], class: 'form-control mb-2'  %>
      <%= submit_tag "検索", class:'btn btn-primary' %>
    <% end %>
</div>

<div class="row">
  <% if @books.present? %>
    <% @books.each do |book| %>
    
    
    <div class="col-lg-4">
      <div class="card text-center bg-secondary">
        <div class="p-0">
          <img src="<%= book.image_url %>">
        </div>
      </div>
    
      <div class="card mb-4">
        <div class="row no-gutters">
          <div class="">
            <div class="card-body w-100">
                <p class="card-text"><%= book.publisherName %></p>
                <h5 class="card-title"><%= link_to book.title, 'books/'+book.isbn %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= book.author %></h6>
                <p class="card-text">発売日 <%= book.salesDate %></p>
                <p class="card-text"></p>
                <%= render 'subscribes/sub_button', isbn: book.isbn %>
                <div class="mt-2">
                  <a href="<%= book.url %>" class="card-link btn-sm btn-dark" target="_blank">楽天</a>
                  <a href="#" class="card-link btn-sm btn-dark ml-1" target="_blank">Amazon</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
<% end %>
</div>