<div class="mb-5">
    <%= form_tag :books, method: :get do  %>
      <%= label_tag :title, 'タイトル検索' %>
      <%= text_field_tag 'title', params[:title], class: 'form-control mb-2'  %>
      <%= submit_tag "検索", class:'btn btn-primary' %>
    <% end %>
</div>

<%= render 'books_card_small', books: @books %>
<%= paginate @books %>