<div class="card mb-4">
  <div class="row no-gutters">
    <div class="col-md-4 p-1">
        <img src="<%= @book.image_url %>">
    </div>
    <div class="col-md-8">
      <div class="card-body p-3">
        <p class="card-text"><%= @book.publisherName %></p>
        <h5 class="card-title"><%= @book.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= @book.author %></h6>
        <p class="card-text">発売日　<%= @book.salesDate %></p>
        <p class="card-text">シリーズ <%= @book.series %></p>
        <%= render 'subscribes/sub_button', isbn: @book.isbn %>
        <%= render 'favorites/fav_button', isbn: @book.isbn %>
        <%= render 'reviews/review_create_button', book: @book %>
        <%= link_to 'レビューをみる', review_index_path(@book.id), class:'btn btn-success' %>
        <div class="mt-2 mb-2">
          <%= link_to '楽天', @book.url, class: 'card-link btn-sm btn-dark ml-1', target:'blank' %>
          <% amazonurl = "http://www.amazon.co.jp/dp/#{change_isbn(@book.isbn)}" %>
          <%= link_to 'Amazon', amazonurl, class: 'card-link btn-sm btn-dark ml-1', target:'blank' %>
          <% unless @book.series.nil? %>
            <%= link_to "検索", books_path + '?utf8=✓&title=' + @book.series + "&commit=検索", class: "card-link btn-sm btn-warning ml-1" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if Book.find(@book.id).reviewuser.include?(current_user) %>
  <% review = current_user.reviews.find_by(book_id: @book.id) %>
  <div class="card m-4 border-info">
    <div class="card-header">あなたがこの漫画に投稿したレビュー</div>
    <div class="card-body">
      <h5 class="card-title"><%= link_to review.head, review_path(review.id) %></h5>
      <% review_book = Book.find(review.book_id) %>
      <h6 class="card-subtitle mb-2 text-muted"><%= review.created_at %>に投稿</h6>
      <h6 class="card-subtitle mb-2 text-muted">評価:<%= review.point %></h6>
      <p class="card-text"><%= review.content %></p>
    </div>
  </div>
<% end %>