<div class="card mb-4 h-350px">
  <div class="row no-gutters">
    <div class="col-md-3 p-1">
        <img src="<%= @book.image_url %>" style="width:auto; height:350px; max-width:250px;">
    </div>
    <div class="col-md-9">
      <div class="card-body p-3">
        <p class="card-text mark"><%= @book.publisherName %></p>
        <h5 class="card-title"><%= @book.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= @book.author %></h6>
        <p class="card-text m-0"><b>発売日</b> <%= @book.salesDate %></p>
        <p class="card-text m-0"><b>作品シリーズ</b> <%= @book.series %></p>
        <p class="card-text m-0"><b>ISBN</b> <%= @book.isbn %></p>
        <%= render 'subscribes/sub_button', isbn: @book.isbn %>
        <%= render 'favorites/fav_button', isbn: @book.isbn %>
        
        
        <div class="mt-2 mb-2">
          <%= link_to '楽天', @book.url, class: 'card-link btn-sm btn-dark ml-1', target:'blank' %>
          <% amazonurl = "http://www.amazon.co.jp/dp/#{change_isbn(@book.isbn)}" %>
          <%= link_to 'Amazon', amazonurl, class: 'card-link btn-sm btn-dark ml-1', target:'blank' %>
          <% unless @book.series.nil? %>
            <%= link_to "検索", books_path + '?utf8=✓&title=' + @book.series + "&commit=検索", class: "card-link btn-sm btn-light border ml-1" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'reviews/review_create_button', book: @book %>

<button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#collapseReview" aria-expanded="false" aria-controls="collapseReview">
  レビューをみる
</button>

<% if Book.find(@book.id).reviewuser.include?(current_user) %>
  <% review = current_user.reviews.find_by(book_id: @book.id) %>
  <div class="card m-4 border-info">
    <div class="card-header">あなたがこの漫画に投稿したレビュー</div>
    <div class="card-body">
      <h5 class="card-title"><%= link_to review.head, review_path(review.id) %></h5>
      <% review_book = Book.find(review.book_id) %>
      <h6 class="card-subtitle mb-2 text-muted"><%= review.created_at %>に投稿</h6>
      <h6 class="card-subtitle mb-2 text-muted">評価:<%= review.point %></h6>
      <p class="card-text"><%= review.content %></p>
      <%= render 'reviewfavorites/review_fav_button', review: review %>
    </div>
  </div>
<% end %>

<div class="collapse" id="collapseReview">
  <% @reviews = Review.where(book_id: @book.id) %>
  <% unless @reviews.empty? %>
    <% @reviews.each do |review| %>
      <%= render 'reviews/review_card', review:review %>
    <% end %>
    <p><%= link_to '全てのレビューをみる', review_index_path(@book.id) %></p>
    <% else %>
    <p>この作品にはまだレビューはありません。</p>
  <% end %>
</div>

