<div class="card">
  <div class="card-body">
    <h3 class="mb-4 text-center mark">ComicFarmの使い方</h3>
      <div class="ml-4">
      <h5 class="mb-4 font-weight-bold">1.まずは好きな漫画を探してみよう！</h5>
      <p>画面左上の「漫画を探す」から好きな漫画を探すことができます。</p>
      <%= image_tag 'howto1.jpg', class: 'border' %>
      <p class="mt-4">探したい漫画のタイトルを入力してみましょう。</p>
      <%= image_tag 'howto2.jpg', class: 'border' %>
      <p>検索したタイトルの漫画があればそれが表示されます。</p>
      
      <h5 class="mb-4 mt-4 font-weight-bold">2.所持登録をしてみよう！</h5>
      <p>漫画を探すことができたら次は所持登録をしてみましょう。</p>
      <p>「所持登録をする」ボタンを押してみます。</p>
      <%= image_tag 'howto3.jpg', class: 'border' %>
      <p class="mt-4">「所持しています」と表示されたら登録完了です。</p>
      <%= image_tag 'howto4.jpg', class: 'border' %>
      <p>登録した漫画は自分のユーザーページから確認することができます。</p>
      <p>ユーザーページは画面右上のユーザー名を押すことで表示できます。</p>
      
      <h5 class="mb-4 mt-4 font-weight-bold">3.お気に入り登録をしてみよう！</h5>
      <p>所持登録と同じように、お気に入り登録もすることができます。</p>
      <%= image_tag 'howto5.jpg', class: 'border' %>
      <p>お気に入り登録には、最近ハマっている漫画や、絶対にオススメしたい漫画など、</p>
      <p>好きな漫画を登録してみましょう。</p>
      
      <h5 class="mb-4 mt-4 font-weight-bold">4.レビューを書いてみよう！</h5>
      <%= image_tag 'howto6.jpg', class: 'border' %>
      <p>漫画の詳細ページからはレビューを書くことができます。</p>
      <%= image_tag 'howto7.jpg', class: 'border' %>
      <p><span class="mark">レビュー名：</span>レビューの見出しを書きましょう</p>
      <p><span class="mark">レビュー本文：</span>ここにレビューの本文を書きます</p>
      <p><span class="mark">評価：</span>0~5の数値で評価してみましょう。小数可能です。</p>
    </div>
  </div>
</div>