<% @reviews.each do |review| %>
  <div class="card w-80 m-4">
      <div class="card-body">
        <h5 class="card-title"><%= link_to review.head, review_path(review.id) %></h5>
        <% review_book = Book.find(review.book_id) %>
        <h6 class="card-subtitle mb-2 text-muted"><%= review_book.title %></h6>
        <h6 class="card-subtitle mb-2 text-muted"><%= review.created_at %></h6>
        <h6 class="card-subtitle mb-2 text-muted">投稿者:<%= User.find(review.user_id).name %></h6>
        <p class="card-text"><%= review.content %></p>
      </div>
  </div>
<% end %>
