<div class="card w-80 m-4">
  <div class="card-body">
    <h5 class="card-title"><%= @review.head %></h5>
    <% review_book = Book.find(@review.book_id) %>
    <h6 class="card-subtitle mb-2 text-muted"><%= @review_book.title %></h6>
    <h6 class="card-subtitle mb-2 text-muted"><%= @review.created_at %>に投稿</h6>
    <%= link_to '編集する', edit_review_path(@review) %>
    <%= link_to '削除する', @review, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
    <p class="card-text"><%= @review.content %></p>
  </div>
</div>